/*  your css code here. If applicable */
#box{
	width:100px;
	height:100px;
	background:red;
	animation-name:a;
	animation-duration: 1.0s;
 animation-timing-function: ease-in;
           
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
}@keyframes a{
	0%{
	transform:scale(0.9);
	
	}50%{
  transform:scale(0.8);
		
	}
	
}